<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>remoteAccessConsumerKey</key>
	<string>3MVG98dostKihXN65VZ3l_hz2l.XfFWuzC31s5E.QgUbpJ5.wSZ4G6OyhxqBgBgZ49P.hrltRYprB9.TOXhR4
</string>
	<key>oauthRedirectURI</key>
	<string>cofcapp://</string>
	<key>oauthScopes</key>
	<array>
		<string>web</string>
		<string>api</string>
	</array>
	<key>shouldAuthenticate</key>
	<true/>
</dict>
</plist>
